<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="uu" class="usts.pycro.boot.bean.User">
        <property name="name" value="z3"/>
        <property name="age" value="18"/>
    </bean>
    <bean id="pp" class="usts.pycro.boot.bean.Pet">
        <property name="name" value="puppy"/>
    </bean>
</beans>